/* nav bar css */
.nav-link:hover{
    padding: 10px;
    transition: all .5s;
    background-color: rgb(230, 114, 114);
}


/* footer css */
.footer > .container > .row > .col > ul > li {
    color: rgb(243, 238, 230);
}

.footer > .container > .row > .col > ul > li > a{
    text-decoration: none;
}

.footer > .container > .row > .col > ul{
    list-style-type:none
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}