<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
    {% load static %}
  {% load cart %}
</head>
<body>
{% include 'message.html' %}

<form action="{% url 'store:checkout' %}" method="POST">
                {% csrf_token %}
    <!-- Grid row -->


      <!-- Grid column -->
      <div class="col-lg-8">
 <div class="col-md-12">
              <div class="md-form mb-0">
                <textarea id="form-contact-message" name="comment" class="form-control md-textarea" rows="3" placeholder="Suggestions for making food"></textarea>
                <!--<label for="form-contact-message">Suggestions for making food</label>-->
                <hr>
              </div>
            </div>
        <div class="card-body form">

          <!-- Header -->

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
              <label for="form-contact-name" class="">street address</label>
                <input type="text" id="form-contact-name" name="streetaddress" class="form-control" required>
                
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
              <label for="form-contact-email" class="">locality</label>
                <input type="text" id="form-contact-email" name="locality" class="form-control" required>
                
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
              <label for="form-contact-phone" class="">city</label>
                <input type="text" id="form-contact-phone" name="city" class="form-control" required>
                
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
              <label for="form-contact-company" class="">Pincode</label>
                <input type="text" id="form-contact-company" name="pincode" class="form-control" required>
                
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">
               <div class="col-md-6">
              <div class="md-form mb-0">
              <label for="form-contact-company" class="">Phone Number</label>
                <input type="number" id="f" name="phonenumber" class="form-control" required>
                
              </div>
            </div>
               <div class="col-md-6">

            <div class="md-form mb-0">

                  <input type="submit" class="btn float-right btn-outline-info col-lg-6" value="checkout">
            </div>
            <!-- Grid column -->
            </div>
          </div>
          <!-- Grid row -->

        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->



      <!-- Grid column -->



</form>
  </div>
    <!-- Grid row -->




</body>
</html>